@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html {
    font-family: Poppins, sans-serif;
}

body {
    margin: 0;
    background-color: #22252c;
}

header {
    height: 100px;
}


.gallery-img .meme-img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

#my-canvas {
    margin: 30px 100px;
    border: 2px solid black;
}

.editor-container {
    /* display: none; */
    height: 100vh;
}

.canvas-container {
    background-image: url('../imgs/Forme_1.png');
    background-position: center center;
    width: 700px;
}

form > button {
    height: 30px;
    width: 30px;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.navbar {
    font-weight: 500;
    color: #ffffff;
    border-radius: 7000px;
    width: 100%;
    height: 70px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    padding-left: 80px;
    padding-right: 80px;
}

.gallery-container {
    background-color: #383b42;
    border-radius: 10px;
    min-height: calc(100vh - 110px);
    overflow: auto;
}

.logo {
    font-size: 1.375rem;
    text-transform: uppercase;
}
.menu-option {
    cursor: pointer;
    font-size: 1.3125rem;
    height: 40px;
    width: 140px;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.active {
    border-radius: 200px;
    color: #21ac91;
    background-color: #fefefe;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

.keywords-searcher {
    color: #fefefe;
    font-size: 1.3125rem;
    opacity: 0.38;
    border-radius: 29px;
    height: 3rem;
    width: 33%;
    background-color: #22252c;
    padding-left: 20px;
    padding-right: 20px;
}

.search-keywords {
    padding: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: 200px;
    gap: 30px;
    margin-left: 60px;
}

.font-color,.stroke-color {
    display: block;
    height: 30px;
    width: 30px;
    background-image: url('../icons/paint-board-and-brush.png');
}

.meme-form {
    height: 500px;
    width: 500px;    
    margin-top: 30px;
    border-radius: 30px;
    background-color: rgba(235,238,243, 0.11);
    padding-top: 40px;
}

#font-color,#stroke-color {
    display: none;
}

.text-input {
    width: 445px;
    height: 60px;
    background-color: #ebeef3;
    border-radius: 30px;
    color: #3d3d3d;
    font-size: 1.5625rem;
    font-weight: 500;
    text-align: center;
}